<a href="https://colab.research.google.com/github/dylanwalker/MGSC496/blob/main/MGSC496_R05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Your Info

your_name = '' #@param {type:"string"}
your_email = '' #@param {type:"string"}
today_date = '' #@param {type:"date"}

# How to "read" this notebook

As you go through this notebook (or any notebook for this class), you will encounter new concepts and python code that implements them -- just like you would see in a textbook. Of course, in a textbook, it's easy to read code and an explanation of what it does and think that you understand it.
<br />
<br />

### Learn by doing
But this notebook is different from a textbook because it allows you to not just read the code, but play with it. **You can and should try out changing the code that you see**. In fact, in many places throughout this reading notebook, you will be asked to write your own code to experiment with a concept that was just covered. This is a form of "active reading" and the idea behind it is that we really learn by **doing**. 
<br />
<br />

### Change everything
But don't feel limited to only change code when I prompt you. This notebook is your learning environment and your playground. I encourage you to try changing and running all the code throughout the notebook and even to **add your own notes and new code blocks**. Adding comments to code to explain what you are testing, experimenting with or trying to do is really helpful to understand what you were thinking when you revisit it later. 
<br />
<br />
### Make this notebook your own
Make this notebook your own. Write your questions and thoughts. At the end of every reading notebook, I will ask the same set of questions to try to elicit your questions, reaction and feedback. When we review the reading notebook in class, I encourage you to

# Code Preface

Below is some code that we will make use of to make our lives easier.  Imports and functions are usually introduced throughout this notebook as needed. But sometimes you need to jump around and run things out of order. This cell below makes it easier to do that by running it before you begin.

**You don't need to look at this code now.**

In [ ]:
%%capture
!pip install --upgrade pandas
!pip install --upgrade pandas-datareader
!pip install yfinance

In [ ]:
# imports for modules we will use:
import pandas as pd
import numpy as np
import seaborn as sns
import feather
import datetime
import pandas_datareader.data as pdr
import yfinance as yf
import matplotlib.pyplot as plt

yf.pdr_override()
plt.rcParams.update({'font.size': 20, 'figure.figsize': (20, 10)}) # set font and plot size


# Some code to make displaying multiple dataframes side by side better
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)


# Some code to generate example dataframes
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# Load imdbb datasets that we'll use
imdbFile = 'https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/IMDB-Movie-Data.csv'
movies_df = pd.read_csv(imdbFile, index_col="Title")
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']

planets = sns.load_dataset('planets')

stDate = '2023-01-01'
enDate = '2023-01-12' 
stocks = ["AMZN","MSFT","NVDA","NTDOY", "AAPL"]
stocks_df = pd.concat([ pdr.get_data_yahoo(st,stDate,enDate).assign(Stock=st)[['Stock','Open','Close']] for st in stocks ]) # read this line from the inside out
stocks_1day_df = stocks_df.reset_index()
stocks_1day_df = stocks_1day_df[stocks_1day_df.Date==enDate].reset_index().drop(columns=['Date','index'])

# Pandas

<img alt="R05_pandas_logo.png" src='https://drive.google.com/uc?id=1QblXB3vwRh63bXvi7pM_yk4PsG6MMw1i' width=500>

The *pandas* package is the most important tool at the disposal of Data Scientists and Analysts working in Python today. The powerful machine learning and glamorous visualization tools may get all the attention, but pandas is the backbone of most data projects. 

>\[*pandas*\] is derived from the term "**pan**el **da**ta", an econometrics term for data sets that include observations over multiple time periods for the same individuals. — [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)

If you're thinking about data science as a career, then it is imperative that one of the first things you do is learn pandas. In this post, we will go over the essential bits of information about pandas, including how to install it, its uses, and how it works with other common Python data analysis packages such as **matplotlib** and **sci-kit learn**.

<img alt="R05_the-rise-in-popularity-of-pandas.png" src="https://drive.google.com/uc?id=1Hsr__ImXc8TRS44Od6jrRzLl1y3Y3cLL" width=500px />

# What's Pandas for?

Pandas has so many uses that it might make sense to list the things it can't do instead of what it can do. 

This tool is essentially your data’s home. Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it. 

For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame — a table, basically — then let you do things like:

- Calculate statistics and answer questions about the data, like


    - What's the average, median, max, or min of each column? 
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?


- Clean the data by doing things like removing missing values and filtering rows or columns by some criteria


- Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more. 


- Store the cleaned, transformed data back into a CSV, other file or database


Before you jump into the modeling or the complex visualizations you need to have a good understanding of the nature of your dataset and pandas is the best avenue through which to do that.

# How does pandas fit into the data science toolkit?

Not only is the pandas library a central component of the data science toolkit but it is used in conjunction with other libraries in that collection. 

Pandas is built on top of the **NumPy** package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in **SciPy**, plotting functions from **Matplotlib**, and machine learning algorithms in **Scikit-learn**.

Before we do anything else, we will want to ensure that we have the most recent version of pandas installed (sometimes colab has an earlier version) and that we import pandas. For brevity we'll import is as ``pd`` so we don't have to type ``pandas.`` everywhere.

In [ ]:
%%capture
!pip install --upgrade pandas

In [ ]:
import pandas as pd

Now to the basic components of pandas.

# Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`. 

A `Series` is essentially a column, and a `DataFrame` is a multi-dimensional table made up of a collection of Series. 

<img alt="R05_pandas-series-and-dataframe.png" src="https://drive.google.com/uc?id=1GNUYVXJ_dZK94GBJZWLbvAD2xOC0K342" width=600px />

DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean.

You'll see how these components work when we start working with data below.

## Creating DataFrames from scratch

Creating DataFrames right in Python is good to know and quite useful when testing new methods and functions you find in the pandas docs.

There are *many* ways to create a DataFrame from scratch, but a great option is to just use a simple `dict` of `list`s. 

Let's say we have a fruit stand that sells apples and oranges. We want to have a column for each fruit and a row for each customer purchase. To organize this as a dictionary for pandas we could do something like:

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

And then pass it to the pandas DataFrame constructor:

In [ ]:
purchases = pd.DataFrame(data)

purchases

**How did that work?**

Each *(key, value)* item in `data` corresponds to a *column* in the resulting DataFrame.

The **Index** of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame. 

Let's have customer names as our index:

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

So now we could **loc**ate a customer's order by using their name:

In [ ]:
purchases.loc['June']

What if we were only interested in one of the columns (e.g., `apples`)? One way we can access only that column is by using the `.` operator like this:

In [ ]:
purchases.apples # select the apples column, which is a series object

A single column of a dataframe is called a `Series`. Have a look at its type:

In [ ]:
type(purchases.apples)

Another way we can select a column from a dataframe is like this:

In [ ]:
purchases["apples"] # another way to select the apples column, which is a series object

It is also possible to use the square bracket approach to add a new column to a dataframe, like this:

In [ ]:
purchases["bananas"] = np.array([1,0,1,2])
purchases

Note that we cannot add a new column using the `.` notation. For example, this will throw an error:

In [ ]:
purchases.pineapples = np.array([0,0,4,2])

There are other ways that we can select columns and rows from a dataframe that we will talk about later. But for now, you know how to creata dataframe from scratch, let's move on to other ways to make dataframes from different sources of data.

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Movie Characters Dataframe</font>

<font>
Create a dataframe from scratch that will hold data on characters from your favorite movie.

<br />
<br />
<br />

Columns could include:
* actor name
* character gender
* A boolean that is True if the character is a villain
* ... and any other column you'd like to add

Make the index of the dataframe the character name.
</font>

In [ ]:
# Try it out

<hr/>

# How to read data with pandas

It’s quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time, read it from various files.

## Reading data from CSVs

With CSV files all you need is a single line to load in the data:

In [ ]:
purchasesFile='https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/purchases.csv'
df = pd.read_csv(purchasesFile) 
# If we were running this from a local machine with purchases.csv already present in the current directory
#  we would have instead typed pd.read_csv('purchases.csv')

df

CSVs don't have indexes like our DataFrames, so all we need to do is just designate the `index_col` when reading:

In [ ]:
df = pd.read_csv(purchasesFile, index_col=0) # Set the index to be the 0th column

df

Here we're setting the index to be column zero.

You'll find that most CSVs won't ever have an index column and so usually you don't have to worry about this step.

It's also possible to set an index on a dataframe after its been created with `df.set_index('someIndex')`. You can read more about it [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html).

## Reading data from JSON

If you have a JSON file — which is essentially a stored Python `dict` — pandas can read this just as easily:

In [ ]:
purchasesJSONFile='https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/purchases.json'
df = pd.read_json(purchasesJSONFile)

df

Notice this time our index came with us correctly since using JSON allowed indexes to work through nesting. You can open the `purchases.json` file by pasting the `purchasesJSONFile` link above into an empty tab on your browser so you can see the file structure.

Pandas will try to figure out how to create a DataFrame by analyzing structure of your JSON, and sometimes it doesn't get it right. Often you'll need to set the `orient` keyword argument depending on the structure, so check out [read_json docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html) about that argument to see which orientation you're using.

## Reading data from a SQL database

If you’re working with data from a SQL database you would need to first establish a connection using an appropriate Python library, then pass a query to pandas. 

I'm not going to demonstrate this with code here, as it requires installing a mysql module in Google Colab and having a database running that it can connect to.  However, I'll show you some example code to give you an idea:
```python
import pymysql

# Connect to the database:
con = pymysql.connect(host='localhost',user='user',password='password',db='db')

# read the results of a query into a dataframe:
df = pd.read_sql_query("SELECT * FROM purchases", con)
```

## Converting back to a CSV, JSON, or SQL

So after extensive work on cleaning your data, you’re now ready to save it as a file of your choice. Similar to the ways we read in data, pandas provides intuitive commands to save it:

In [ ]:
df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

#df.to_sql('new_purchases', con) # This line is commented out, because we didn't establish a connection to a dB

Check out the local Files in Google Colab file explorer to verify that these files have indeed been created on our local machine.

When we save JSON and CSV files, all we have to input into those functions is our desired filename with the appropriate file extension. With SQL, we’re not creating a new file but instead inserting a new table into the database using our `con` variable from before.

Let's move on to importing some real-world data and detailing a few of the operations you'll be using a lot.

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Write Your Movie Characters Dataframe To A File</font>

<font>
Using the movie character dataframe that you created earlier, write it out to the csv file "moviechars_df.csv". Then, open the file by using Google Colab's file interface, to verify that it wrote it correctly and that it makes sense.
</font>

In [ ]:
# Try it out

<hr/>

# Basic DataFrame operations

DataFrames possess hundreds of methods and other operations that are crucial to any analysis. As a beginner, you should know the operations that perform simple transformations of your data and those that provide fundamental statistical analysis.

Let's load in the IMDB movies dataset to begin:

In [ ]:
imdbFile = 'https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/IMDB-Movie-Data.csv'
movies_df = pd.read_csv(imdbFile, index_col="Title")
movies_df

We're loading this dataset from a CSV and designating the movie titles to be our index.

Because we did this, Title won't be a column name in our DataFrame (it's the index). If for some reason, we wanted to make an index a column again, we could use the `reset_index()` method:

In [ ]:
movies_df.reset_index()

You will notice that calling `movies_df.reset_index()` did not alter the original dataframe `movies_df`:

In [ ]:
movies_df

instead, calling `movies_df.reset_index()` returned a new dataframe where the index was reset. But we did not save that dataframe as a new variable. If we wanted to change our original dataframe, we could do so like this:
```python
movies_df = movies_df.reset_index()
```
An equivalent way to accomplish this s by using the keyword argument `inPlace=True`, like this:
```python
movies_df.reset_index(inplace=True) # this will alter movies_df instead of just returning an altered copy
```
For right now, let's just leave our original dataframe as it is.

## Viewing your data



The first thing to do when opening a new dataset is print out a few rows to keep as a visual reference. We accomplish this with `.head()`:

In [ ]:
movies_df.head()

`.head()` outputs the **first** five rows of your DataFrame by default, but we could also pass a number as well: `movies_df.head(10)` would output the top ten rows, for example. Typically when we load in a dataset, we like to view the first five or so rows to see what's under the hood. Here we can see the names of each column, the index, and examples of values in each row.

To see the **last** five rows use `.tail()`. `tail()` also accepts a number, so below we are telling it to print just the last two rows.:

In [ ]:
movies_df.tail(2)



You'll notice that the index in our DataFrame is the *Title* column, which you can tell by how the word *Title* is slightly lower than the rest of the columns.

## Getting info about your data

`.info()` should be one of the very first commands you run after loading your data:

In [ ]:
movies_df.info()

`.info()` provides the essential details about your dataset, such as the number of rows and columns, the number of non-null values, what type of data is in each column, and how much memory your DataFrame is using. 

Notice in our movies dataset we have some obvious missing values in the `Revenue` and `Metascore` columns. We'll look at how to handle those in a bit.

Seeing the datatype quickly is actually quite useful. Imagine you just imported some JSON and the integers were recorded as strings. You go to do some arithmetic and find an "unsupported operand" Exception because you can't do math with strings. Calling `.info()` will quickly point out that your column you thought was all integers are actually string objects.

Another fast and useful attribute is `.shape`, which outputs just a tuple of (rows, columns):

In [ ]:
movies_df.shape

Note that `.shape` has no parentheses (its a property, not a method) and is a simple tuple of format (rows, columns). So we have **1000 rows** and **11 columns** in our movies DataFrame.

You'll be using `.shape` a lot when cleaning and transforming data. For example, you might filter some rows based on some criteria and then want to know quickly how many rows were removed.

## Handling duplicates

This dataset does not have duplicate rows, but it is always important to verify you aren't aggregating duplicate rows. 

To demonstrate, let's simply just double up our movies DataFrame by appending it to itself:

In [ ]:
temp_df = movies_df.append(movies_df)

temp_df.shape

Using `append()` will return a copy without affecting the original DataFrame. We are capturing this copy in `temp_df` so we aren't working with the original dataframe.

Notice now that calling `.shape` quickly proves our DataFrame rows have doubled.

Now we can try dropping duplicates:

In [ ]:
temp_df = temp_df.drop_duplicates()

temp_df.shape

Just like `append()`, the `drop_duplicates()` method will also return a copy of your DataFrame, but this time with duplicates removed. Calling `.shape` confirms we're back to the 1000 rows of our original dataset.

It's a little verbose to keep assigning DataFrames to the same variable like in this example. For this reason, pandas has the `inplace` keyword argument on many of its methods (as mentioned above). Using `inplace=True` will modify the DataFrame object in place:

In [ ]:
temp_df.drop_duplicates(inplace=True)

Now our `temp_df` *will* have the transformed data automatically. 

Another important argument for `drop_duplicates()` is `keep`, which has three possible options:

* `first`: (default) Drop duplicates except for the first occurrence.
* `last`: Drop duplicates except for the last occurrence.
* `False`: Drop all duplicates.

Since we didn't define the `keep` argument in the previous example it was defaulted to `first`. This means that if two rows are the same pandas will drop the second row and keep the first row. Using `last` has the opposite effect: the first row is dropped.

`keep`, on the other hand, will drop all duplicates. If two rows are the same then both will be dropped. Watch what happens to `temp_df`:

In [ ]:
temp_df = movies_df.append(movies_df)  # make a new copy with duplicates

In [ ]:
temp2_df = temp_df.drop_duplicates(keep=False)
temp2_df.shape

Since all rows were duplicates, `keep=False` dropped them all resulting in zero rows being left over. If you're wondering why you would want to do this, one reason is that it allows you to locate all duplicates in your dataset. When conditional selections are shown below you'll see how to do that.

## Column cleanup



Many times datasets will have verbose column names with symbols, upper and lowercase words, spaces, and typos. To make selecting data by column name easier we can spend a little time cleaning up their names.

Here's how to print the column names of our dataset:

In [ ]:
movies_df.columns

Not only does `.columns` come in handy if you want to rename columns by allowing for simple copy and paste, it's also useful if you need to understand why you are receiving a `Key Error` when selecting data by column.

We can use the `.rename()` method to rename certain or all columns via a `dict`. We don't want parentheses, so let's rename those:

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

Excellent. But what if we want to lowercase all names? Instead of using `.rename()` we could also set a list of names to the columns like so:

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

But if we have a lot of columns, that might be too much work. Instead of just renaming each column manually we can do a list comprehension:

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

`list` (and `dict`) comprehensions come in handy a lot when working with pandas and data in general.

It's a good idea to lowercase, remove special characters, and replace spaces with underscores if you'll be working extensively with a dataset.

## How to work with missing values

When exploring data, you’ll most likely encounter missing or null values, which are essentially placeholders for non-existent values. Most commonly you'll see Python's `None` or NumPy's `np.nan`, each of which are handled differently in some situations.

There are two options in dealing with nulls: 

1. Get rid of rows or columns with nulls
2. Replace nulls with non-null values, a technique known as **imputation**

Let's calculate to total number of nulls in each column of our dataset. The first step is to check which cells in our DataFrame are null:

In [ ]:
movies_df.isnull()

Notice `isnull()` returns a DataFrame where each cell is either True or False depending on that cell's null status.

To count the number of nulls in each column we use an aggregate function for summing (we'll talk more about aggregation, later):

In [ ]:
movies_df.isnull().sum()

`.isnull()` just by itself isn't very useful, and is usually used in conjunction with other methods, like `sum()`.

We can see now that our data has **128** missing values for `revenue_millions` and **64** missing values for `metascore`.

### Removing null values



Data Scientists and Analysts regularly face the dilemma of dropping or imputing null values. This decision requires intimate knowledge of your data and its context. Overall, removing null data is only suggested if you have a small amount of missing data.

Remove nulls is pretty simple:

In [ ]:
movies_df.dropna()

This operation will delete any **row** with at least a single null value, but it will return a new DataFrame without altering the original one. You could specify `inplace=True` in this method as well.

So in the case of our dataset, this operation would remove 128 rows where `revenue_millions` is null and 64 rows where `metascore` is null. This obviously seems like a waste since there's perfectly good data in the other columns of those dropped rows. That's why we'll look at imputation next.

Other than just dropping rows, you can also drop columns with null values by setting `axis=1` in the `dropna()` method.

In [ ]:
movies_df.dropna(axis=1)

Notice that this would drop the columns `revenue_millions` and `metascore` since both of those columns contain at least one null value.

### Imputing null values

Imputing missing values (making educated guesses for them based on values that we do have in our data) is a complicated business and it should not be done without an intimate knowledge of the dataset you're working on. In many cases, and particularly when you don't have intimate knowledge of the data, it may be better to remove missing values than to try to impute them.

One simple method for imputing data is to replace it with the average value from the data. This can be done with varying degrees of specificity. For example, we could find the average value for only similar items in the data (e.g., for movies, we might decide to only take the average from the same year from movies that share similar genres).  This is a complicated business and we're not really ready to do this with our current knowledge of pandas. Instead,we can simple impute the values to be the average of all movies:

In [ ]:
revenue_mean = movies_df.revenue_millions.mean() # get the mean (or average) value of revenue for all movies
print(revenue_mean)
temp_ds = movies_df.revenue_millions.fillna(revenue_mean) # Make a new series where, when data is missing in the revenue_millions column, fill it in with the mean revenue
temp_ds.isnull().sum() # show that we have no more missing

# Applying functions

It is possible to iterate over a DataFrame or Series as you would with a list, but doing so — especially on large datasets — is very slow.

An efficient alternative is to `apply()` a function to the dataset. For example, we could use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.

Let's remind ourselves or what our movies dataframe looks like:

In [ ]:
movies_df.head()


Next, we will create a function that, when given a rating, determines if it's good or bad:

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

Now we want to send the entire rating column through this function, which is what `apply()` does:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

The `.apply()` method passes every value in the `rating` column through the `rating_function` and then returns a new Series. This Series is then assigned to a new column called `rating_category`.

You can also use anonymous functions as well. This lambda function achieves the same result as `rating_function`:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

Overall, using `apply()` will be much faster than iterating manually over rows because pandas is utilizing vectorization.

> Vectorization: a style of computer programming where operations are applied to whole arrays instead of individual elements —[Wikipedia](https://en.wikipedia.org/wiki/Vectorization)

A good example of high usage of `apply()` is during natural language processing (NLP) work. You'll need to apply all sorts of text cleaning functions to strings to prepare for machine learning.

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Make an Adjusted Rating Column for the IMDb dataframe </font>

<font>
In the imdb data that we've been looking at, the rating is just the mean score. But some movies have many more votes than others, and this should lend more "weight" to their rating. Let's make a new adjusted rating column that, for two movies with the same rating, will give higher rating to the movie that has received more votes.   
</font>


<font>

A good adjusted scoring rule is:
```
 rating_adjusted = rating - (rating - 5)*2**(-log10(votes+1))
```
(note: to implement this, we can use `np.log10()` )

You can see why adjusted rating might be a good idea. Suppose two movies have a rating of 8, but one has only 3 votes where the other has 4000 votes:
```
rating_adjusted_1 = 8 - (8-5)*2**(-log10(4)) = 6.02
rating_adjusted_2 = 8 - (8-5)*2**(-log10(4001)) = 7.75
```
The adjusted rating gives more weight to movies with more votes, because we are not as confident in ratings with few votes, and therefore adjust them towards the middel rating (5). Note that the adjustment (the part we are subtracting) gets smaller and smaller as the number of votes gets larger.

Let's try to add this adjusted rating to our imdb data frame. Make a new column called 'rating_adjusted' to implement this. Then, make a scatter plot of (rating_adjusted - rating) vs  rating.

note: it's okay if you want to make a column `rating_delta = rating_adjusted - rating`.

Now calculate the `rating_delta` and `rating_adjusted` and make a scatterplot with `rating` on the x-axis and `rating_delta` or `rating_adjusted` on the y-axis.
</font>

In [ ]:
# Try it out

<hr/>

# Brief Plotting with Matplotlib

Another great thing about pandas is that it integrates with Matplotlib, a popular plotting library, so you get the ability to plot directly off DataFrames and Series.

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (20, 10)}) # set font and plot size

Now we can begin. There won't be a lot of coverage on plotting, but it should be enough to explore you're data easily.

**Side note:**
For categorical variables utilize Bar Charts and Boxplots.  For continuous variables utilize Histograms, Scatterplots, Line graphs, and Boxplots.

Let's plot the relationship between ratings and revenue. All we need to do is call `.plot()` on `movies_df` with some info about how to construct the plot:

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

What's with the semicolon? It's not a typo, just a way to hide the `<matplotlib.axes._subplots.AxesSubplot at 0x26613b5cc18>` output when plotting in Jupyter notebook environments.

If we want to plot a simple Histogram based on a single column, we can call plot on a column:

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

The `.describe()` method gives us an idea about how data in a numerical column is distributed (its min, max, mean, standard deviation, etc.):

In [ ]:
movies_df['rating'].describe()

A visual way to see how numerical data in a column is distributed is with a Boxplot. Using a Boxplot we can visualize this data:

In [ ]:
movies_df['rating'].plot(kind="box");

Here is how to read a Boxplot:

<figure>
<img alt="R05_box-plot-explained.png" src="https://i1.wp.com/flowingdata.com/wp-content/uploads/2008/02/box-plot-explained.gif" />
    <figcaption>Source: *Flowing Data*</figcaption>
</figure>


By combining categorical and continuous data, we can create a Boxplot of revenue that is **grouped by the Rating Category** we created above:

In [ ]:
movies_df.boxplot(column='revenue_millions', by='rating_category'); #notice the by keyword argument is used to tell pandas to group the data by rating category

That's the general idea of plotting with pandas. There's too many plots to mention, so definitely take a look at the `plot()` [docs here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) for more information on what it can do.

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Plot Revenue vs Adjusted Rating for a Single Genre</font>

<font>
Using the `movies_df` DataFrame, write a function that will plot the scatterplot of Revenue vs Metascore for only one Genre.
</font>

<br />
<br />
<br />

Your function should have two arguments:
- `movies_df`, the movie dataframe
- `genre`, a string sepcifying the Genre of movie for which we will plot the data, e.g., 'Horror'

Note that the an entry in the genre column contains a comma-separated list of different genres that a movie belongs to:

In [ ]:
movies_df.genre[1:10]

However, we can get all the individual unique genres by using Pandas built in string operations on a series:

In [ ]:
allGenresConcatenated = movies_df.genre.str.cat(sep=',') # This will return a string by concatenating all the strings in each row of genre, separating them with a ',' 
allGenres = np.unique(allGenresConcatenated.split(',')) # This will split the string so that we have a list and then use numpy's unique() to get only the unique elements of the list
allGenres

You may find the following string method of dataframes useful:
- If a dataframe `df` has a string columm, `stringCol`, then the method
 - `df.stringCol.str.contains(someString)` will return `True` if someString is a substring within a value of stringCol.

Your goal is to define a function that will return a plot object. The function should make a scatter plot of `rating_adjusted` on the x-axis and `revenue_millions` on the y-axis.

In [ ]:
# Define your function here
def plot_rev_vs_rating_adj(movies_df, genreName):
  plot = # fill in your code here with plot = movies_df[SOMETHING].plot(SOMETHING)
  plot.set_title(genreName) 
  return plot

# Run your function for the genre's 'Horror' and 'Action'
plot = plot_rev_vs_rating_adj('Horror')
plot = plot_rev_vs_rating_adj('Action')

It would be nice if we could make a boxplot of the distribution of revenue across all genres in the same plot... we'll come back to this later, when we've learned some more tools to help us do this.

<hr/>

# Indexing Series and DataFrames

As mentioned earlier in this notebook, you can access a given column of a DataFrame two ways:

In [ ]:
movies_df.genre # property-style column access

In [ ]:
movies_df['genre'] # dictionary-style column access

You can slice elements of a DataFrame using its index:

In [ ]:
movies_df['Prometheus':'Suicide Squad']

Notice that we can't get the row of a DataFrame by specifying an index value:

In [ ]:
movies_df['Prometheus'] # this will throw a key error, because dictionary-style access of a dataframe is keyed on column names

We'll see soon how to access a row of a DataFrame based on the index value using `.loc[]`.

You can also combine property-style column access with index slicing, like this:

In [ ]:
movies_df.genre['Prometheus':'Suicide Squad'] # slice a Series using the DataFrame explicit index

In [ ]:
movies_df.genre[1:5] # slice a Series using the implicit row index

But, in my opinion this way of accessing rows and columns from a dataframe can be confusing to write and to read. It turns out there's a better and much more explicit way to tell pandas which rows and which columns you would like from a dataframe.

### Implicit and Explicit Indexes with `.loc[]` and `iloc[]`

As we just learned, you can set an Index for DataFrames and Series (columns of DataFrames). And you can use the row numbers (instead of the index defined) to access or slice a Series (column) as well.

-> **Using the row numbers for access is referred to as *implicit* indexing**. 

-> **Using the DataFrame's defined index is referred to as *explicit* indexing.**

Combining these two ways of accessing rows with slicing operations, things can get confusing pretty quickly. Below, I will show you an example where it is really confusing. Then I will suggest an approach you can use to avoid this. 

### Here's a confusing example: 

Let's define a dataframe and give it an index made up of integers:

In [ ]:
data = pd.Series(['a', 'b', 'c','d'], index=[1, 3, 5,7]) # we are defining an explicit index with some integers here
data

When you use the square brackets to access a slice and you give it integers for the start and end of the slice, pandas will use the implicit index. So in the example below, we are asking pandas to give us the 2nd and 3rd rows of the data (regardless of the values we set for these rows in the explicit index):

In [ ]:
data[2:4] # this will return a slice of the 2nd and 3rd rows using the implicit row index (i.e., the implicit index is just the kth row of the data)

But, when we use the square brackets to access a single row, pandas will default to using the explicit index. In the example below, we are asking pandas to give us the row of data where the explicit index is 3. That is different from the 4th row of the data (4th because python starts with at 0):

In [ ]:
data[3] # explicit index (the one that we defined when we created the dataframe, with index=...)

In [ ]:
data[4] # this will throw a key error, because our data doesn't have a row index of 4 with our explicit (pandas) index

### Avoid confusion: use `.loc` or `.iloc`
I hope the example above convinced you that using square brackets to **access the rows** of a dataframe can be confusing. It is best avoided. Fortunately, there is a better way.

To avoid this implicit vs explicit indexing confusion, Pandas has two special indexer attributes: 
- `.loc[]` to access the explicit index (the pandas one that we defined)
- `.iloc[]` to access the implicit index (the python-style one, as with lists)

This allows us to access elements by implicit or explicit index and to slice by index or explicit indexing:

In [ ]:
data.iloc[2:4] # this is the python implicit style, so it will return rows 2 and 3

In [ ]:
data.loc[1:5] # this is the explicit pandas style index, so it will return rows with index 1,3,5

ASIDE: It's a bit funny that slicing with explicit indexing includes the last element of the range specified (``data.loc[1:5]`` includes 5), while slicing with implicit does not (``data.iloc[2:4]`` doesn't include 4). It is defined this way in order for `iloc[]` to be consistent with the way Python usually indexes collections.

IMPORTANT: Its good practice to always use `.loc[]` and `.iloc[]` instead of just `[]` whenever possible, to avoid confusion.

Another advantage of the `.loc[]` indexer is that it allows us to select a row (or a slice of a row) from a DataFrame with the index:

In [ ]:
movies_df.loc['Prometheus'] # Get one row

In [ ]:
movies_df.loc['Prometheus':'Sing'] # Get a slice

So we could then do things like this:

In [ ]:
movies_df.loc['Prometheus'].genre

Even better, as we will see, by using `.loc[]` and `.iloc[]`, we can access both rows AND columns together.

### MultiIndexes

There are many occasions where the nature of the data we are analyzing would require rows that relate to more than one index.  For example, consider the case where we want to track the populations metrics of US states across different years. 

We might have data like this:
```
                    Population
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
```

To create a Series that handles this type of data appropriately, we would use a ``MultiIndex``:

In [ ]:
pop_series = pd.Series([33871648,37253956,18976457,19378102,20851820,25145561],
                    index=pd.MultiIndex(
                        levels=[['California', 'New York', 'Texas'], [2000, 2010]],
                        names=['state','year'],
                        codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]]) # notice how codes are used to link the same state or same year
                    )
pop_series

We could have stored this data using a DataFrame instead of as a Series with a MultiIndex, like this:

In [ ]:
pop_df = pd.DataFrame({'2000':[33871648,18976457,20851820], '2010':[37253956,19378102,25145561]},
                    index=['California', 'New York', 'Texas'])
pop_df

However, what if we wanted to store more than just one dimension of population metrics in our DataFrame? Then we would need a MultiIndex.

For example:

In [ ]:
pop_df = pd.DataFrame({'total': pop_series,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

Pandas allows us to "stack" and "unstack" a MultiIndex using the `.stack()` and `.unstack()` methods (we'll talk more about this later):

In [ ]:
pop_df

In [ ]:
pop_total_df = pop_df.total.unstack()
pop_total_df

Notice that we've lost the "total" title when we did this.

In [ ]:
pop_under18_df = pop_df.under18.unstack()
pop_under18_df

And of course we can stack it back again, like this:

In [ ]:
pop_under18_df.stack()

though notice that the column name is lost when we do this, so we would have to set it again if we wanted to.  

Also notice that `.stack()` returned a series, since we only had one column.

In [ ]:
type(pop_under18_df.stack())

### Working with MultiIndexed DataFrames

When we have a MultiIndexed Series or DataFrame, we can access an element or row like this:

In [ ]:
pop_series

In [ ]:
pop_series.loc['California',2000] #notice that this is a Series, so we don't need to say "which column we want", there is only one column. The "," here refers to the 2nd part of the index

You might find the above a bit confusing, because we are used to seeing `.loc[row index, column index]`. I agree that this **is** confusing. A better way to write the multi-index would be as a tuple:

In [ ]:
pop_series.loc[('California',2000)] # here, there is no confusion about the role the "," plays

or even slice it, provide that the MultiIndex is sorted (see the pandas documentation for  [sort_index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html#pandas-dataframe-sort-index)):

In [ ]:
pop_series.loc['California':'New York']

In [ ]:
pop_series.loc['California':'New York',2000]

Writing the above in the "tuple" notation would be clearer, but it is more verbose:

In [ ]:
pop_series.loc[('California',2000):('New York',2000)] # clearer because we don't confuse the role the "," plays, but so much more verbose



Other types of indexing also works with MultiIndexes, such as boolean masks:

In [ ]:
pop_series.loc[pop_series>22000000]

Or even fancy indexing:

In [ ]:
pop_series.loc[['California','Texas'],2000]

If we look back at the multi-indexed dataframe (rather than the series), we can do something similar:

In [ ]:
pop_df

We can also index its rows using the multi-index:

In [ ]:
pop_df.loc[('California',2000)]

And we can slice the multi-indexed dataframe as well:

In [ ]:
pop_df.loc[('California',2000):('Texas',2000)]

The above might not be what you expect (for example, you might have expected that since you used `2000` for both tuples in the slice, that it would slice across the states, but only keep the year the same. However, that is not what you get, because pandas treats the overall order of the multi-index as first increasing in the innermost level and then graduating to the next outermost level. If you instead wanted only the year `2000` and to slice across the different states, you would have to first use a method called `swaplevel()` to swap the levels of the multi-index:

In [ ]:
pop_df.swaplevel()

Then you could do something like this:

In [ ]:
pop_df.swaplevel().loc[2000,:]

or this:

In [ ]:
pop_df.swaplevel().loc[2000,'under18']

Personally, I find multi-indexed objects in pandas to be a necessary evil (they emerge naturally when grouping and aggregating data). I prefer to avoid indexing them whenever possible and instead use `.reset_index()` copiously after data transformations to make the indexes plain old columns (which I can select and filter on using boolean indexing.

# Merge and Join DataFrames

One essential feature offered by Pandas is its high-performance, in-memory join and merge operations.
If you have ever worked with databases, you should be familiar with this type of data interaction.
The main interface for this is the ``pd.merge`` function, and we'll see few examples of how this can work in practice.

We'll need to define a convenient function ``display()`` that will help us display multiple dataframes in Google Colab (or Jupyter notebook) side by side, so go ahead and run the below:

In [ ]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

<img alt="R05_pd_merge_df.png" src='https://drive.google.com/uc?id=1w-M0TB-yTDd3KEF229SSwW3Gi9H-fhKR' width=400 float='center'>

Pandas has methods for algebraically manipulating relational data (like the kind of data you typically see in a database).  The fundamental method that we'll look is `merge()`. We'll also look a bit at `join()` (though `join()` is really just a wrapper method to add some convenience -- it ends up calling `merge()`).

The `merge()` method is the pandas way to implementing SQL-style JOINs with DataFrames. So you have the usual cardinality of JOINs:
- one-to-one
- one-to-many
- many-to-many

And you also have the type of JOINs:
- inner
- outer
- left
- right

All of these can be implmented in pandas with the method `merge()`. Have a quick look at the [merge documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html). Some things to note:
- the `how` keyword specifies the join type: inner (default), outer, left, or right 
- the `on`, `left_on`, and `right_on` keywords specify what columns to join on. If they are omitted, join will infer by matching column names.
- In general, the dataframe returned from a merge will discard the index, unless you do a join based on the index using the keywords `left_index` or `right_index`.


For each example, below, look carefully at the dataframes that we start with and the result when they are merged and make sure you understand what is happening:

In [ ]:
# Start with some data
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display('df1', 'df2')

Here is an example of a one-to-one join:

In [ ]:
# A one-to-one join
df3 = pd.merge(df1, df2)
df3

Each employee belongs to only one group (`df1`). Each employee also has a single hire date (`df2`). Pandas is automatically figuring out that to join these two dataframes, it should match on the columnn `employee`. 

<br />


Here's an example of a one-to-many join:

In [ ]:
# A one-to-many join
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
display('df3', 'df4', 'pd.merge(df3, df4)')

# notice, we didn't tell pandas it was one-to-many -- it inferred it from matching on column name 'group'
#  we can see that some entries in group and supervisor will be duplicated in the resulting dataframe

Above, each group has many employees (`df3`) and each group has a single supervisor (`df4`). Because the same group can appear many times in `df3`, many rows in `df3` will be matched to the one row in `df4`. That is why it is called a many-to-one join.

<br />



And here an example of a many-to-many join:

In [ ]:
# A many-to-many join
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display('df1', 'df5', "pd.merge(df1, df5)")

# Notice again that we didn't specify it was many-to-many -- pandas inferred it based on column names
#  also notice how entries in the employees column are repeated now to show that each employee
#  can have many skills and each skill can be had by many employees.

Above, each group has many employees (`df1`) and each group has many different skills (`df5`). The same group can appear many times in `df1` (e.g., Engineering) and in `df5`. Each row where a group appears in `df1` will be matched to all the rows where that group appears in `df5`. THerefore this is a many-to-many join. 

<br />

Sometimes we don't want to rely on pandas guessing how to do our merge, but instead want to specify. If the column you want to match has the same name in both dataframes, you can use the `on` keyword argument to tell pandas to merge by matching on this column:

In [ ]:
# We can always specify what column should be used to join. If it's the same for both df's we're merging, we can do this with 'on':
display('df1', 'df2', "pd.merge(df1, df2, on='employee')")

In [ ]:
# Sometimes you might have two df's that contain differently named columns that you want to join on. In this case we can use the 'left_on' and 'right_on' keywords:
df3a = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
display('df1', 'df3a', 'pd.merge(df1, df3a, left_on="employee", right_on="name")')

# Notice that we end up with both 'name' and 'employee' columns in the result

In [ ]:
#  we could use .drop('name', axis=1), if we wanted to drop the name column:
pd.merge(df1, df3a, left_on="employee", right_on="name").drop('name', axis=1)

The above showed how to merge dataframes by joining on the columns. But of course, you can also use the indices of dataframes... and even match an index in one df to a column in the other. 

Here are some examples:

In [ ]:
# merge based on indices:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
display('df1a', 'df2a',"pd.merge(df1a, df2a, left_index=True, right_index=True)") 
# notice: the resulting df has and index.

In [ ]:
# Pandas provides the join() method to use indices of both df's you are merging, for convenience. 
#  So we could accomplish the above like this:
display('df1a', 'df2a', 'df1a.join(df2a)')

In [ ]:
# You can match a column to an index when you join.
#  Here we use left_index=True to tell pandas to use the index of the left df and right_on='name' to tell
#  pandas to use match it to the 'name' column of the right df.
display('df1a', 'df3a', "pd.merge(df1a, df3a, left_index=True, right_on='name')")

# Concatenating DataFrames

On a related note, its also possible to concatenate two DataFrames together. Concatenating is like mashing them together either horizontally (combining the columns, assuming rows are lined up) or vertically (combing rows from different dataframes, whether or not columns match partially or completely).

To understand how, we'll make a function that generates dataframes with rows and columns that are nicely labelled:

In [ ]:
# Just a function to make generating example dataframes easier
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

Now we can make some dataframes and concatenate them vertically (which is the most common use case for `pd.concat`):

In [ ]:
# Here's the most common use case of pd.concat(), when the dataframes have the same columns
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
display('df1', 'df2', 'pd.concat([df1, df2])')

If we want to concatenate dataframes horizontally, we specify `axis=1`:

In [ ]:
# To us pd.concat() when no columns are the same, pass axis=1
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
display('df3', 'df4', "pd.concat([df3, df4], axis=1)")

When some but not all of the columns are the same and we concatenate vertically (which is the default, i.e., `axis=0`), pandas combines assumes `NaN`'s for the rest of the columns:

In [ ]:
# Here's how pd.concat() works when the dataframes have some but not all columns in common
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
display('df5', 'df6', 'pd.concat([df5, df6],sort=False)') 

# notice that Pandas fills in NaN's for entries of non-common columns

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Cars, Cars, Cars!</font>

<font>
Let's test our knowledge of merging, and concatenating by working with some datasets on cars.
</font>
<br />
<br />
<br />

First, let's read in some datasets with data about cars

In [ ]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/cars1.csv")
cars2_engine = pd.read_csv("https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/cars2_engine.csv")
cars2_perf = pd.read_csv("https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/cars2_perf.csv")
cars2_info = pd.read_csv("https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/cars2_info.csv")

display('cars1','cars2_engine','cars2_perf','cars2_info')

Now let's test your knowledge of cleaning, merging and concatenating data.

Q1: The first dataset `cars1` has some blank columns. Get rid of them:

In [ ]:
# write your code here

Q2: Look at the number of observations in each of the datasets (cars1, cars2_perf, cars2_engine, cars2_info).  Do any of the datasets contain duplicate data? If so, clean them.

In [ ]:
# write your code here

Q3: Combine the data in cars2_engine, cars2_perf, and cars2_info into a single dataframe called cars2:

In [ ]:
# write your code here

Q4: Get rid of the unnamed column in cars2 and then combine the data in cars1 and cars2 together, to get a final dataframe named cars.

In [ ]:
# write your code here

<hr/>

# Grouping and Aggregating with Pandas

<img alt="R05_pd_group.png" src='https://drive.google.com/uc?id=18zOyb9GjkKiNW8XqaAnCcm4jZK3XB9Z5' width=1000>

Grouping works just like GROUP BY in databases.

Groupby operations are really a means to apply split the data according to some columns values, apply aggregation, and then recombine. This is illustrated as:

<img alt="R05_pd_groupby_split-apply-combine.png" src="https://drive.google.com/uc?id=1uAEdHexYDoM2pcU313tYKAsWmMbnqiNy" width=700>

Pandas has all sorts of aggregation methods:
- sum() , min(), max(), count(), mean(), median(), quantile(), var(), std(), apply()

You can, of course, apply aggregation methods without grouping (in which case the whole dataframe will be treated as a single group).

Let's look at some examples:

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

In [ ]:
df.groupby('key').sum()

In [ ]:
display('df',"df.groupby('key').cumsum()") # i.e., cumulatively sum them within the group

To show more interesting examples, we'll take advantage of a dataset that is included in the Seaborn plotting module:

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.head()

This is a dataset that describes over a thousand extrasolar planets that were discovered, including when and how they were discovered and various attributes of the planets.

In [ ]:
planets.groupby('method')[['orbital_period','distance']].median() # group by method column, then for the columns orbital_period and distance (fancy indexing) take the median in each group

This shows that different methods of detecting extrasolar planets are sensitive to different scales of orbital periods and distance.

You can also group by multiple columns:

In [ ]:
planets.groupby(['year','method']).distance.mean() # group by year and method, then for each group (distinct year and method combination) take the mean of the distance
# note that we used the '.' notation to access the column distance

Let's look at how to aggregate with multiple aggregation functions from a single groupby operation using the `agg()` method:

In [ ]:
planets.groupby('method')['orbital_period'].agg(['count','min', 'median', 'max','std']) # group by method column, then for the column orbital period perform the listed aggregations in each group.
# Note that we used the '[]' notation to access the orbital_period column
# Note that agg() can take a list of aggregation function names

In [ ]:
# If you want to name the columns, you can use agg like this:
planets.groupby('method')['orbital_period'].agg(num='count',min_orbital_period='min', median_orbital_period='median', max_orbital_period='max')

It's also possible to filter data according to the aggregation:

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': np.random.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

# A function to filter where the standard deviation of data2 exceeds 4
def filter_func(x):
    return x['data2'].std() > 4

display('df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)")

# notice that the std() in the filter is applied to the group, so the filtered
#  dataframe will have all groups removed that don't meet the criteria

Additionally, we can transform data after grouping:

In [ ]:
df.groupby('key').transform(lambda x: x - x.mean()) # center all columns by subtracting the group mean

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">International Alcohol Consumption</font>

<font>
Here, we'll look at some statistics about alcohol consumption across many different countries and use it to test our knowledge on grouping
</font>

Run the code cell below to load the dataset and look at it:

In [ ]:

drinks = pd.read_csv('https://raw.githubusercontent.com/dylanwalker/MGSC496/main/datasets/drinks.csv')
drinks.head()

Q1: Which continent drinks more beer on average?

In [ ]:
# code your answer here

Q2: For each continent, print the statistics for wine consumption:

In [ ]:
# code your answer here

Q3: What is the mean alcohol consumption per contintent for every continent?

In [ ]:
# code your answer here

Q4: Using only one line of code, compute the mean, min and max spirit consumption per continent.

In [ ]:
# code your answer here

<hr/>

# Reshaping Data in Pandas

<img alt="R05_pd_reshape_df.png" src='https://drive.google.com/uc?id=1dCn2ZGnplToZAaEcBOREBxZToM_HTuYs' width=1000>


Pandas provides many methods to reshape a dataset, and these end up being super important when working with data. We'll talk about

- pivot (and pivot_table)
- melt
- concat
- explode (not shown in the pic above, but very useful)

Let's grab some stock data from the web so that we can look at something interesting.  We'll use module call `pandas_datareader` to help us grab it.

Here's how to do it with a single stock and what the resulting dataframe looks like:

In [ ]:
%%capture
!pip install yfinance

In [ ]:
import datetime
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

# Start date and End date
stDate = '2023-01-01'
enDate = '2023-01-12' 

amazon_stock_df = pdr.get_data_yahoo("AMZN",stDate,enDate)
display('amazon_stock_df')


Notice that this returns a dataframe that is indexed by Date with columns describe the stock on that day (High, Low, Open, Close, Volume, Adj Close).

Recall some things about indexes we should keep in mind:
- we are free to set the index that we want use `.set_index()`
- we can change an index into a column via `.reset_index()`

- If we have a MultiIndex:
 - `.unstack()` will shift the last part of it into a column
 - `.stack()` will shift a column into the last part of the MultiIndex

<br>

It's a bit boring to look only at one stock, so let's use our knowledge of `pd.concat()` and list comprehensions to grab the open and close prices only for a bunch of stocks:

In [ ]:
stocks = ["AMZN","MSFT","NVDA","NTDOY", "AAPL"]
stocks_df = pd.concat([ pdr.get_data_yahoo(st,stDate,enDate).assign(Stock=st)[['Stock','Open','Close']] for st in stocks ]) # read this line from the inside out
stocks_df.head(10)

See if you can pick apart the second line of the above code
```python
stocks_df = pd.concat([ pdr.get_data_yahoo(st,stDate,enDate).assign(Stock=st)[['Stock','Open','Close']] for st in stocks ])
```

What is this doing? Let's look at it from the inside out:
- the inner `[... for st in stocks]` is a list comprehension
- for each element `st` of the stocks list, we are calling: 
 - `pdr.get_data_yahoo(st,stDate,enDate)` which returns a dataframe
 - and then `.assign(stock=st)` makes a new column called 'stock' and sets  its value for all rows to be the particular stock (e.g., 'AMZN')
 - the ``[['stock,'Open','Close']]`` is fancy indexing to only choose the columns stock, Open and Close in that order

OK, now we're ready to do some **reshaping**.

## Melting dataframes

We'll start by taking a look at a bunch of stocks for just a single day. I'll construct this by subselecting only the index (Dates) that are equal to `2023-01-03` (the first day of data in the date range we collected).

In [ ]:
stocks_1day_df = stocks_df[stocks_df.index=='2023-01-03'].copy()
stocks_1day_df

Now, since we're talking about only one day, I'll reset the index (so that `Date` becomes a column) and get rid of that column:

In [ ]:
stocks_1day_df = stocks_1day_df.reset_index().drop(columns=['Date'])
stocks_1day_df

We can see that this dataframe is presented in "wide format". We can change this to a "long format" with the `melt()` method.  We just need to tell it which column will be the "identifier" (i.e., the one we'll leave alone) with the `id_vars` keyword.

In [ ]:
s1d_melted_df = stocks_1day_df.melt(id_vars='Stock')
s1d_melted_df

Notice how the variables Open and Close that were columns now are depicted by the rows of the `variable` column that is equal to `Open` or `Close`. The `value` column now holds the values associated with that variable. This is just a different way of tabulating the data we had before.

## Pivoting dataframes

Suppose instead that we had started with a dataframe already in the long format and we wanted to "pivot" it into the wide format.  We could do this with the `pivot()` method.

We just need to tell if which column should be the index with the `index` keyword

In [ ]:
s1d_melted_df.pivot(index='Stock',columns='variable')

In this way, `pivot()` is like the inverse of `melt()`

## Reshaping MultiIndexed dataframes

So far we have just been working with a really simply dataframe of stocks that contains only the information from a single day. So let's look at the entire data we collected:

In [ ]:
stocks_df

The first thing to notice is that the index is Date, but actually the values in each row relate to both the Date and the Stock.  In other words, the dataframe returned by our collection method didn't made an index which doesn't uniquely identify a row. This is not a problem, provided we are aware of it.

There is a way to create an index that properly identifies a row, by using something the  **MultiIndex** that we saw before. 


Ok, let's go ahead and add a multiindex to the our dataframe:

In [ ]:
sdf = stocks_df.reset_index().set_index(['Date','Stock'])
sdf

The rows of `sdf` are now indexed with a MultiIndex. If we also sort them using `.sort_index()`:

In [ ]:
sdf = sdf.sort_index()
sdf.head(12)

 Remember how to use `.loc[]` with multi-indexes? We can specify the rows we want using a tuple like this:

In [ ]:
sdf.loc[('2023-01-09','NTDOY'),:]

And don't forget that its [possible to slice them](https://pandas.pydata.org/docs/user_guide/advanced.html#using-slicers) and to do some [cross-sectional operations](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.xs.html), but not in the arbitrary way that we might want and both are syntactically unintuitive. Here's an example of slicing a multiindex:

In [ ]:
sdf.loc[('2023-01-03','AAPL'):('2023-01-04','AAPL')]

Above might not have returend what you would expect (we got several stocks that were not `AAPL`. If you find this confusing, you're not alone. In situations such as these, I would advise that you instead reset the index, bringing the date and stock into the dataframe as regular columns, and then you can slice it logically however you might like.  For example:

In [ ]:
rsdf = sdf.reset_index()
rsdf.loc[(rsdf.Date>='2023-01-03')&(rsdf.Date<='2023-01-04')&(rsdf.Stock=='AAPL'),:]


><font color="darkred" size=3>
You can see now why I said multi-indexed objects in pandas are a necessary evil. Don't forget that if you have problems indexing them, it is always possible to just use .reset_index() to make the index becomes columns. MultiIndexes aren't all evil, though, because they are useful in going from wide to long data formats. 
></font>

We could try to use `pivot()` and `melt()` on our stocks dataframe, but actually these are just special cases of two other methods called `unstack()` and `stack()` (respectively) which are designed to work with the more complex scenario of MultiIndexed data.

We can use `unstack()` to put this data into long format.  By default, `unstack()` will always "unstack" the last part of the index (here: the Stock column) and leave the first part of the index alone:

In [ ]:
sdf.unstack()

The columns of this unstacked dataframe are a MultiIndex. We can reference the columns as a tuple. For example, to get the column of AAPL's opening price, we would ask pandas to give us all rows where the column is `('Open','APPL')`:

In [ ]:
sdf.unstack().loc[:,('Open','AAPL')] # remember in .loc and .iloc, the order is always [rows, cols] like this: .loc[rows, cols] and .iloc[rows, cols]

Or we could invert this operation with `stack()` to get back to the wide data format

In [ ]:
sdf.unstack().stack()

This is exaclty the same as our original `sdf`, except that it is sorted differently (the default is to sort by the order of the parts of the index (so first by Date and then by Stock).  We could sort differently with `sort_values()`:

In [ ]:
sdf.unstack().stack().sort_values(['Stock','Date'])

So to summarize, MultiIndexes and the `stack()` and `unstack()` methods are useful when you are shifting between wide and long format and you have a compound  "primary key" (one or more variables in your data are need to **uniquely** defines a row).

## Use pivot_table to pivot and aggregate multiple values

Sometimes we have a rich dataset that we want to pivot, but if we tried to do so, multiple values would be assigned to a given entry.

For example, if we start with our `sdf` dataframe and we want to reduce it to a dataframe that is indexed by stock and just has one value for Open and Close, we would need to tell Pandas how to aggregate the multiple values (e.g., an Open price for each date). 

We can do this by using the `pivot_table()` method which allows us to specify an aggregation function using the `aggfunc` keyword:

In [ ]:
sdf

In [ ]:
sdf.pivot_table(index='Stock',values=['Open','Close'],aggfunc='mean')

This tells us the Open and Close price averaged over all the dates for each stock.

## Using explode to handle lists in dataframes

Sometimes we will encounter a scenario where a column will contain lists within it. 

Consider the following dataframe that describes a customer and the list of pets that they have:

In [ ]:
pets_df = pd.DataFrame({'customer':['Xia','John','Venki','Vivian','Abdul'],'pets':[['dog','cat'],['cat','goldfish','turtle'],['hamster','cat','dog'],['dog','cat'],['goldfish','dog']]})
pets_df

There is a "long format" for this dataframe, but we can't get to it with a `stack()` or `melt()` operation, because the values in the pets columns are lists (of varying length -- some people have more pets than others).

There is a very useful method to hande this case called `explode()` (I promise it won't blow up your computer). What `explode()` does is to make the elements of the list into rows by repeating the values of the index and any other non-exploded column:

In [ ]:
pets_df.explode('pets')

Now the data is in "long" format and the information is preserved.  Notice how the index and customer value repeat in order to list out all the pets of each customer.


We can also set the index of `pets_df` to be the customer and then explode:

In [ ]:
pets_df.set_index('customer').explode('pets')

What about the inverse operation? Is there an unexplode?

Well not exactly, but we can easily accomplish this using a `groupby` and `apply` operation.  When combined, `apply` will operate on the column of values for each group

In [ ]:
exploded_df = pets_df.explode('pets')
exploded_df.groupby('customer').pets.apply(list)

The only thing to note here is that the returned object is a Series (i.e., just one column), not a dataframe -- though we could easily convert it into a one-column dataframe by wrapping it with `pd.DataFrame()`.

<hr/>
<img src="https://drive.google.com/uc?id=1sk8CSP26YY7sfyzmHGFXncuNRujkvu9v" align="left">

<font size=3 color="darkred">Does the number of planets detected by each method change over the years?</font>

<font>
We want to know how the number of planets detected by each method changes over the years. What we're after is a dataframe where the index is a MultiIndex of (year, method) (where method is e.g., Radial Velocity, Pulsar Timing, etc.) and there is a column (that we'll name 'number') for the count for each year and method.
<br>
<br>
Once the dataframe is structured like this, we can just call `.plot()`.  if the figure is not sized correctly, try adding the keyword argument `figsize=(width,height)` and replace `width` and `height` by integers e.g. `figsize=(20,10)`.
<br>


Some hints:

* you'll need to group by more than one column to get the MultiIndex
* the order of the columns in the groupby matters, because we'll need to use `unstack()` to get the detection methods to become column labels.
</font>

In [ ]:
# Try it out

<hr/>

# Transporting dataframes between R (dplyr) and Python (pandas)

The feather module allows you to save .feather files which can be written and read from either python or R.

In python, you can save a dataframe as a feather like this:

In [ ]:
import feather
# note: you can't save a dataframe that has lists in its columns -- this is a limitation of feather
movies_df2 = movies_df.drop('genre_list')
feather.write_dataframe(movies_df2, 'movies.feather')


And of course, you can also read a .feather file, like this:

In [ ]:
new_movies_df = feather.read_dataframe('movies.feather')

In R, you can read and write dataframes to/from .feather files like this:
```
library(feather)
path <- "my_data.feather"
write_feather(df, path)
df <- read_feather(path)
```

# Reference: Pandas Cheat Sheet

Here is a very useful [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) that you will want to reference until you get comfortable working with Pandas.